{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}SokoniSoko</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
		<link rel="stylesheet" href="{% static 'main.css' %}">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://kit.fontawesome.com/443e366d26.js" crossorigin="anonymous"></script>
	</head>

	<body class="has-navbar-fixed-top">
		<nav class="navbar is-fixed-top" id="navbarapp">
			<div class="navbar-brand">
				<a class="navbar-item has-text-black" href="{% url 'frontpage' %}"><strong>SOKOniSOKO</strong></a>
				<div class="column is-2 is-hidden-desktop is-hidden-widescreen is-hidden-fullhd">
                    <a href="{% url 'cart' %}" class="button has-background-white"><strong>Cart<i class="fas fa-shopping-cart mr-1"></i>[[ numItems ]]</strong></a>
                </div>
				<a @click="toggleMenu()" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="main-navbar" class="navbar-menu" :class="{ 'is-active': menuClass }">
				<div class="navbar-start">
					<div class="navbar-item">
						<form method="get" action="{% url 'search' %}">
							<div class="field has-addons">
								<div class="control">
									<input type="text" class="input" placeholder="Search..." name="query">
								</div>
								<div class="control">
									<button class="button">Search<i class="fa fa-search ml-2" aria-hidden="true"></i>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="navbar-end">
					<div class="is-hidden-desktop is-hidden-widescreen is-hidden-tablet is-hidden-fullhd">
						{% for category in menu_categories %}
							{% if not category.children.all %}
								<ul><a href="{% url 'category_detail' category.slug %}" class="navbar-item">{{ category.title }}</a></ul>
							{% else %}
								<div class="navbar-item has-dropdown is-hoverable">
									<ul><a href="{% url 'category_detail' category.slug %}" class="navbar-link">{{ category.title }}</a>
										
										<div>
											<li>
											{% for subcategory in category.children.all %}
												<a class="ml-3 has-text-info" href="{% url 'category_detail' subcategory.slug %}">{{ subcategory.title }}</a>
											{% endfor %}
											</li>
										</div>
									</ul>
								</div>
							{% endif %}		
						{% endfor %}
					</div>	
					<div class="navbar-item">
						<a href="{% url 'cart' %}" class="button has-background-white has-text-dark"><strong>Cart<i class="fas fa-shopping-cart mr-1"></i>[[ numItems ]]</strong></a>
					</div>

					{% if request.user.is_authenticated %}
						<div class="navbar-item">
							<a href="{% url 'myaccount' %}" class="button has-background-light has-text-black"><i class="fa fa-user mr-2" aria-hidden="true"></i>
								Account</a>
						</div>
					{% else %}
						<div class="navbar-item">
							<div class="buttons">
								<a href="{% url 'signup' %}" class="button has-text-black"><i class="icon-chevron-sign-up mr-2"></i>Sign up</a>
								<a href="{% url 'login' %}" class="button has-text-black">Log in</a>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</nav>
		<div class="columns is-multiline mt-3 ml-3 is-hidden-mobile is-hidden-tablet">
			
			{% for category in menu_categories %}
				{% if not category.children.all %}
					<a href="{% url 'category_detail' category.slug %}" class="navbar-item card">{{ category.title }}</a>
				{% else %}
					<div class="navbar-item is-hoverable">
						<a href="{% url 'category_detail' category.slug %}" class="card navbar-link is-arrowless">{{ category.title }}</a>
					
						<div class="navbar-dropdown">
							{% for subcategory in category.children.all %}
								<a href="{% url 'category_detail' subcategory.slug %}" class="card navbar-item">{{ subcategory.title }}</a>
							{% endfor %}
						</div>
					</div>
				{% endif %}		
			{% endfor %}
		</div>

		<section class="section">
			{% block content %}
			
            {% endblock %}
		</section>

		

		<footer class="footer">
			<div class="columns is-grouped-centered">

				<div class="column is-2">
					<h2 class="subtitle">SOKOniSOKO</h2>
	
					<a href="{% url 'about' %}" class="has-text-danger">About</a>
					<a href="{% url 'terms' %}" class="has-text-danger">Terms and Conditions</a>
					<a href="{% url 'privacy' %}" class="has-text-danger">Privacy Policy</a>
					<a href="{% url 'refund' %}" class="has-text-danger">Refund Policy</a>
				</div>
				<div class="column is-3">
					<h2 class="subtitle">CONTACT</h2>
					<p>Nairobi, KENYA</p>
					<p>nisokonisoko@gmail.com</p>
					<p>+254 706 024 979</p>
					<p>+254 727 924 948</p>
	
				</div>

				<div class="column is-2 mx-4">

					<ul>
						<li><a href="http://instagram.com/nisokonisoko"><strong><i class="fa fa-instagram has-text-black mb-2"></i></strong></a></li>
						<li><a href="http://twitter.com/nisokonisoko"><strong><i class="fa fa-twitter has-text-black mb-2"></i></strong></a></li>
						<li><a href="http://web.facebook.com/nisokonisoko"><strong><i class="fa fa-facebook has-text-black mb-2"></i></strong></a></li>
						
					</ul>
				</div>
				<div class="column is-4">
					{% include 'parts/newsletter.html' %}
				</div>

			</div>
			<div class="is-12 has-text-centered has-text-light">
				© 2021 Copyright: sokonisoko.com
			</div>
		</footer>

		<script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
		<script>
			var store = new Vuex.Store({
				state: {
					numItems: {{ cart.get_total_length }},
					totalCost: {{ cart.get_total_cost }}
				},
				mutations: {
					increment(state, quantity) {
						state.numItems += quantity;
					},
					changeTotalCost(state, newCost) {
						state.totalCost += newCost
					}
				}
			});

			var navbarapp = new Vue({
				el: '#navbarapp',
				delimiters: ['[[', ']]'],
				store: store,
				data () {
					return {
						menuClass: false
					}
				},
				computed: {
					numItems: function() {
						return store.state.numItems
					}
				},
				methods: {
					toggleMenu() {
						console.log('toggleMenu');

						this.menuClass = !this.menuClass;
					}
				}
			});
		</script>

		{% block scripts %}
		{% endblock %}
	</body>
</html>