{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Welcome to SokoNiSoko</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
		<link rel="stylesheet" href="{% static 'main.css' %}">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://kit.fontawesome.com/443e366d26.js" crossorigin="anonymous"></script>
	</head>

	<body class="has-navbar-fixed-top">
		<nav class="navbar is-fixed-top has-background-primary-dark" id="navbarapp">
			<div class="navbar-brand">
				<a class="navbar-item has-text-warning" href="{% url 'frontpage' %}"><strong>SOKOniSOKO</strong></a>
                <div class="column is-2 is-hidden-desktop is-hidden-widescreen is-hidden-fullhd">
                    <a href="{% url 'cart' %}" class="button has-background-primary-dark has-text-warning"><strong>Cart<i class="fas fa-shopping-cart mr-1"></i>[[ numItems ]]</strong></a>
                </div>
				<a @click="toggleMenu()" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>					
				</a>  
            </div>
			<div id="main-navbar" class="navbar-menu" :class="{ 'is-active': menuClass }">
				<div class="navbar-start">
					<div class="navbar-item">
						<form method="get" action="{% url 'search' %}">
							<div class="field has-addons">
								<div class="control">
									<input type="text" class="input" placeholder="Search..." name="query">
								</div>
								<div class="control">
									<button class="button has-background-primary-dark has-text-warning">Search<i class="fa fa-search ml-2" aria-hidden="true"></i>
										</button>
								</div>
							</div>
						</form>
					</div>
				</div>
                <div class="navbar-end">
                    <div class="is-hidden-desktop is-hidden-widescreen is-hidden-tablet is-hidden-fullhd has-background-primary-dark has-text-warning">
						{% for category in menu_categories %}
							{% if not category.children.all %}
								<a href="{% url 'category_detail' category.slug %}" class="navbar-link">{{ category.title }}</a>
							{% else %}
								<div class="navbar-item has-dropdown is-hoverable">
									<a href="{% url 'category_detail' category.slug %}" class="navbar-link">{{ category.title }}</a>
								
									<div class="navbar-dropdown">
										{% for subcategory in category.children.all %}
											<a href="{% url 'category_detail' subcategory.slug %}" class="navbar-item">{{ subcategory.title }}</a>
										{% endfor %}
									</div>
								</div>
							{% endif %}		
						{% endfor %}
					</div>

					<div class="navbar-item">
						<a href="{% url 'cart' %}" class="button has-background-primary-dark has-text-warning"><strong>Cart<i class="fas fa-shopping-cart mr-1"></i>[[ numItems ]]</strong></a>
					</div>

					{% if request.user.is_authenticated %}
						<div class="navbar-item">
							<a href="{% url 'myaccount' %}" class="button has-background-primary-dark has-text-warning"><i class="fa fa-user mr-2" aria-hidden="true"></i>
								Account</a>
						</div>
					{% else %}
						<div class="navbar-item">
							<div class="buttons">
								<a href="{% url 'signup' %}" class="button has-background-primary-dark has-text-warning"><i class="icon-chevron-sign-up mr-2"></i>Sign up</a>
								<a href="{% url 'login' %}" class="button has-background-primary-dark has-text-warning"><i class="fa fa-sign-in mr-2" aria-hidden="true"></i>
									Log in</a>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</nav>
		



		<section class="hero is-medium has-background-primary-dark">
			<div class="hero-body">
                <div class="columns is-multiple">
                    <div class="column is-12">
                        <p class="title has-text-centered has-text-white is-size-4-mobile">
                        Shop Easy with Us. High-end Products at Fair Prices
                        </p>
                        <p class="subtitle has-text-centered has-text-warning">
                            Life Iko Order!
                        </p>
                    </div>
                    <div class="column is-2 is-hidden-desktop is-hidden-widescreen is-hidden-fullhd has-background-primary-dark has-text-warning">
						<form method="get" action="{% url 'search' %}">
							<div class="field has-addons">
								<div class="control">
									<input type="text" class="input" placeholder="Search..." name="query">
								</div>
								<div class="control">
									<button class="button has-background-primary-dark has-text-warning">Search</button>
								</div>
							</div>
						</form>
					</div>

                </div>
			</div>
		</section>

			

		<section class="section">


			<div class="tile is-ancestor">

                <div class="tile is-3 is-vertical is-parent">  
                    {% include 'parts/sidebar.html' %}
                    
                </div>
                <div class="tile is-8 is-vertical is-parent">  
                    <div class="has-background-primary py-2 mb-3">
                        <p class="has-text-centered has-text-white is-size-4-desktop">Featured Products</p>
						

                    </div>
                    {% with products as list_products %}
                        {% include 'parts/product_list.html' %}
                    {% endwith %}
            

            
                    <div class="featured-categories">
                        {% for category in featured_categories %}
                        <div class="has-background-primary py-2 mb-3">
                            <p class="subtitle has-text-centered has-text-white is-size-4-desktop">{{category.title}}</p>
                        </div>
                            {% with category.products.all|slice:":4" as list_products %}
                                {% include 'parts/product_list.html' %}
                            {% endwith %}    
                        {% endfor %}
                    </div>
                    <hr>
                    
                    <div class="has-background-success py-2 mb-3">
                        <p class="subtitle has-text-centered has-text-light">Popular</p>
                    </div>
                    
                    {% with popular_products as list_products %}
                        {% include 'parts/product_list.html' %}
                    {% endwith %} 
                    
            
                    <div class="has-background-info py-2 mb-3">
                        <p class="subtitle has-text-centered has-text-white">Recently viewed</p>
                    </div>
                        
                    {% with recently_viewed_products as list_products %}
                        {% include 'parts/product_list.html' %}
                    {% endwith %} 
                </div>
                
                 
            </div>
		</section>

		

        <footer class="footer has-background-primary-dark">
			<div class="columns is-grouped-centered">

				<div class="column is-2">
					<h2 class="subtitle has-text-light">SOKOniSOKO</h2>
	
					<a href="{% url 'about' %}" class="navbar-item has-text-light">About</a>
					<a href="{% url 'terms' %}" class="navbar-item has-text-light">Terms and Conditions</a>
					<a href="{% url 'privacy' %}" class="navbar-item has-text-light">Privacy Policy</a>
					<a href="{% url 'refund' %}" class="navbar-item has-text-light">Refund Policy</a>
				</div>
				<div class="column is-3">
					<h2 class="subtitle has-text-light">CONTACT</h2>
					<p class="has-text-light">Nairobi, KENYA</p>
					<p class="has-text-light">nisokonisoko@gmail.com</p>
					<p class="has-text-light">+254 706 024 979</p>
					<p class="has-text-light">+254 727 924 948</p>
	
				</div>

				<div class="column is-2 mx-4">
					<ul>
						<li><a class="button is-danger is-fullwidth mb-2" href="http://instagram.com/nisokonisoko">Instagram</a></li>
						<li><a class="button is-info is-fullwidth mb-2" href="http://twitter.com/nisokonisoko"> Twitter</a></li>
						
						<li><a class="button is-link is-fullwidth" href="http://web.facebook.com/nisokonisoko">Facebook</a></li>
					</ul>
				</div>


			</div>
			<div class="is-12 has-text-centered has-text-light">
				© 2021 Copyright: sokonisoko.com
			</div>
		</footer>
		<script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
		<script>
			var store = new Vuex.Store({
				state: {
					numItems: {{ cart.get_total_length }},
					totalCost: {{ cart.get_total_cost }}
				},
				mutations: {
					increment(state, quantity) {
						state.numItems += quantity;
					},
					changeTotalCost(state, newCost) {
						state.totalCost += newCost
					}
				}
			});

			var navbarapp = new Vue({
				el: '#navbarapp',
				delimiters: ['[[', ']]'],
				store: store,
				data () {
					return {
						menuClass: false
					}
				},
				computed: {
					numItems: function() {
						return store.state.numItems
					}
				},
				methods: {
					toggleMenu() {
						console.log('toggleMenu');

						this.menuClass = !this.menuClass;
					}
				}
			});
		</script>

		{% block scripts %}
		{% endblock %}
	</body>
</html>