


    
  
<div class="tile is-vertical is-child is-hidden-mobile"> 
    <p class="button is-fullwidth has-background-info has-text-white">CATEGORIES</p>
    <div class="box has-background-info-light">
        
        {% for category in menu_categories %}
            {% if not category.children.all %}
                <a class="has-text-black" href="{% url 'category_detail' category.slug %}">{{ category.title }}</a>
            {% else %}
            
            <ul><a class="has-text-black" href="{% url 'category_detail' category.slug %}">{{ category.title }}</a>
                <li>
                    {% for subcategory in category.children.all %}
                        <a class="ml-3 has-text-info" href="{% url 'category_detail' subcategory.slug %}">{{ subcategory.title }}</a><br>
                    {% endfor %}
                </li>
            </ul>
                
            {% endif %}		
        {% endfor %}
    </div>
         
</div>

    
    
